<script type="text/html" id="quicksettings_x_panel_content-template">
	<div class="dashboard-widget-content">
		<ul class="quick-list">
			<li><i class="fa fa-calendar-o"></i><a href="#">Settings</a>
			</li>
			<li><i class="fa fa-bars"></i><a href="#">Subscription</a>
			</li>
			<li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
			<li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
			</li>
			<li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>
			<li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>
			</li>
			<li><i class="fa fa-area-chart"></i><a href="#">Logout</a>
			</li>
		</ul>

		<div class="sidebar-widget">
			<h4>Profile Completion</h4>
			<canvas width="150" height="80" id="foo" class="" style="width: 160px; height: 100px;"></canvas>
			<div class="goal-wrapper">
				<span class="gauge-value pull-left">$</span>
				<span id="gauge-text" class="gauge-value pull-left">3,200</span>
				<span id="goal-text" class="goal-value pull-right">$5,000</span>
			</div>
		</div>
	</div>
</script>
